name: Backend Check

on:
  push:
    paths: ['backend/**'] 
  pull_request:
    paths: ['backend/**']

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend

    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Type Check
        run: bunx tsc --noEmit
